<form action="#" method="post">
  {% csrf_token %}
<fieldset>
  <legend>Register</legend>
  {{form}}
  <input type="hidden" name="extra" value="0">
  <input type="submit" value="Submit">
</fieldset>
</form>

<form action="#" method="post">
  {% csrf_token %}
<fieldset>
  <legend>Login</legend>
  {{form}}
  <input type="hidden" name="extra" value="1">
  <input type="submit" value="Submit">
</fieldset>
</form>

<form action="#" method="post">
  {% csrf_token %}
<fieldset>
  <legend>Join as a Guest</legend>
  <input type="text" name="room_key" placeholder="Room Invite Key">
  <input type="hidden" name="extra" value="2">
  <input type="submit" value="Submit">
</fieldset>
</form>
